<ng-template #displayMode>
  <mat-list>
    <mat-list-item *ngFor="let canister of canisters" fxLayout="row wrap" fxLayoutAlign="space-between">
      <h3 mat-line>{{canister.filling.label}}: {{canister.filling.displayValue}}</h3>
      <p mat-line>({{canister.consumption.label}}: {{canister.consumption.displayValue}})</p>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #editMode>
  <p>hello edit mode!</p>
</ng-template>

<ng-container *ngTemplateOutlet="edit ? editMode : displayMode"> </ng-container>
