<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div class="ph-scale" fxFlex="25" [ngStyle]="{height: scaleHeight + 'px'}">
    <div class="indicator" [ngStyle]="{top: scaleHeight / 2 + 'px'}"></div>
    <div class="ph-range" fxLayout="column" [ngStyle]="{top: scaleOffsetTop}">
      <div class="ph-min" [ngStyle]="{height: scaleShiftElementHeight}"></div>
      <div class="ph-0" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-1" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-2" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-3" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-4" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-5" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-6" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-7" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-8" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-9" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-10" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-11" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-12" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-13" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-14" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="ph-max" [ngStyle]="{height: scaleShiftElementHeight}"></div>
    </div>
  </div>
  <p class="ph-value">
    {{data.dataObject.displayValue}}
  </p>
</div>

