@import '../../../../variables';

.ph-value {
  margin: 4px 8px;
}

.ph-scale {
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.9);
  border: solid 1px $color-contrast;
  overflow: hidden;
  z-index: 0;
}

.indicator {
  position: relative;
  z-index: 0;
  height: 2px;
  background-color: $color-contrast;
}

.shadow-helper {
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.4);
  position: relative;
  z-index: 10;
  top: -2px;
}

.ph-range {
  position: relative;
  z-index: -10;
  top: 0;

  & > div {
    height: 16px;
  }

  .ph-min {
    background-color: #ed1a26;
  }
  .ph-0 {
    background: linear-gradient(to top, #f26727, #ed1a26);
  }
  .ph-1 {
    background: linear-gradient(to top, #f8c810, #f26727);
  }
  .ph-2 {
    background: linear-gradient(to top, #f4ed1e, #f8c810);
  }
  .ph-3 {
    background: linear-gradient(to top, #b5d333, #f4ed1e);
  }
  .ph-4 {
    background: linear-gradient(to top, #85c341, #b5d333);
  }
  .ph-5 {
    background: linear-gradient(to top, #50b548, #85c341);
  }
  .ph-6 {
    background: linear-gradient(to top, #34ab4a, #50b548);
  }
  .ph-7 {
    background: #34ab4a;
  }
  .ph-8 {
    background: linear-gradient(to bottom, #34ab4a, #22b46c);
  }
  .ph-9 {
    background: linear-gradient(to bottom, #22b46c, #0ab8b6);
  }
  .ph-10 {
    background: linear-gradient(to bottom, #0ab8b6, #468fcd);
  }
  .ph-11 {
    background: linear-gradient(to bottom, #468fcd, #3752a6);
  }
  .ph-12 {
    background: linear-gradient(to bottom, #3752a6, #5a51a2);
  }
  .ph-13 {
    background: linear-gradient(to bottom, #5a51a2, #64469d);
  }
  .ph-14 {
    background: linear-gradient(to bottom, #64469d, #462d83);
  }
  .ph-max {
    background-color: #462d83;
  }
}
