<div class="mat-app-background" [ngClass]="{'dark-mode': settings.darkMode}">
  <mat-sidenav-container>
    <mat-sidenav #appMenu [mode]="appMenuMode">
      <app-nav-menu [appmenu]="appMenu"></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <header>
        <mat-toolbar color="primary">
          <a mat-icon-button class="nav-menu-toggle" aria-label="toggle navigation" (click)="appMenu.toggle()" fxLayout="column" fxLayoutAlign="space-around">
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'hide' : 'hamburguer'"></div>
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'upperEdge' : 'hamburguer'"></div>
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'lowerEdge' : 'hamburguer'"></div>
          </a>
          <span class="spacer"></span>
          <span id="appTitle">{{title}}</span>
          <span class="spacer"></span>
        </mat-toolbar>
      </header>
      <div id="appBody">
        <router-outlet></router-outlet>
      </div>
      <footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
