<div class="mat-app-background" [class.dark-mode]="darkMode">
  <mat-sidenav-container>
    <mat-sidenav #appMenu [mode]="appMenuMode">
      <app-nav-menu [appmenu]="appMenu"></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <header>
        <mat-toolbar color="primary">
          <a mat-icon-button class="nav-menu-toggle" aria-label="toggle navigation" (click)="appMenu.toggle()" fxLayout="column" fxLayoutAlign="space-around">
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'hide' : 'hamburguer'"></div>
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'upperEdge' : 'hamburguer'"></div>
            <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'lowerEdge' : 'hamburguer'"></div>
          </a>
          <span class="spacer"></span>
          <span>{{title}}</span>
        </mat-toolbar>
      </header>
      <router-outlet></router-outlet>
      <footer>
        <mat-card>
          <mat-card-content>
          <span class="darkModeToggleContainer">
            <mat-icon inline [@darkModeIndicator]="!darkMode ? 'active' : 'inactive'">light_mode</mat-icon>
            <mat-slide-toggle [(ngModel)]="darkMode" color="primary"></mat-slide-toggle>
            <mat-icon inline [@darkModeIndicator]="darkMode ? 'active' : 'inactive'">dark_mode</mat-icon>
          </span>
          </mat-card-content>
        </mat-card>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
