<div class="mat-app-background" [ngClass]="{'dark-mode': settings.darkMode}">
  <mat-toolbar color="primary">
    <a mat-icon-button class="nav-menu-toggle" aria-label="toggle navigation" (click)="appMenu.toggle()" fxLayout="column" fxLayoutAlign="space-around">
      <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'hide' : 'hamburguer'"></div>
      <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'upperEdge' : 'hamburguer'"></div>
      <div class="icon-bar bg-white" [@appMenuToggle]="appMenu.opened ? 'lowerEdge' : 'hamburguer'"></div>
    </a>
    <span class="spacer"></span>
    <span id="appTitle">{{title}}</span>
    <span class="spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #appMenu [mode]="appMenuMode" fixedInViewport="true" fixedTopGap="64">
      <button mat-icon-button [fxHide]="!appMenu.opened || !isPinnable(appMenu)"
              title="{{isPinned ? 'auto-close navigation' : 'keep navigation open'}}"
              (click)="toggleDisableClose()" [@toggleDisableClose]="isPinned ? 'unpin' : 'pin'">
        <mat-icon [@toggleDisableClose]="isPinned ? 'unpin-icon' : 'pin-icon'">push_pin</mat-icon>
      </button>
      <app-nav-menu [sidenav]="appMenu" [closeOnClick]="isPinned || appMenuMode === 'over'"></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="appBody" matDraw>
        <router-outlet></router-outlet>
      </div>
      <footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
