mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

mat-sidenav {
  max-width: 320px;
  min-width: 240px;
}

#appTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-menu-toggle {
  margin-right: 16px;

  .burger-wrapper {
    width: 24px;
    height: 24px;

    .icon-bar {
      display: block;
      width: 24px;
      height: 2px;
      position: relative;
      background-color: #ffffff;
    }
  }
}
