.mat-app-background {
  height: 100%;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;

  footer {
    position: fixed;
    bottom: 0;
    right: 0;

    .darkModeToggleContainer {
      font-size: large;

      mat-slide-toggle, mat-icon {
        margin: 4px;
      }
    }
  }
}

.nav-menu-toggle {
  width: 64px;
  height: 100%;

  .icon-bar {
    width: 22px;
    height: 2px;
    margin: 4px auto;
    position: relative;
    background-color: #ffffff;
  }
}
