<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <div class="cl-scale" [ngStyle]="{height: scaleHeight + 'px', width: scaleWidth + 'px', borderRadius: scaleRadius + 'px'}">
    <div class="indicator mat-elevation-z2" [ngStyle]="{top: scaleHeight / 2 - 1 + 'px'}"></div>
    <div class="shadow-helper" [ngStyle]="{height: scaleHeight + 'px', width: scaleWidth + 'px', borderRadius: scaleRadius + 'px'}"></div>
    <div class="cl-range" fxLayout="column" [ngStyle]="{top: scaleOffsetTop}">
      <div class="cl-element" [ngStyle]="{height: shiftElementHeight}"></div>
      <div class="cl-element top" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="cl-element bottom" [ngStyle]="{height: scaleElementHeight}"></div>
      <div class="cl-element" [ngStyle]="{height: shiftElementHeight}"></div>
    </div>
  </div>
  <p class="cl-value">
    {{data.dataObject.displayValue}}
  </p>
</div>
