@import '../../../../variables';

.cl-value {
  margin: 4px 8px;
}

.cl-scale {
  border: solid 1px $color-discreet;
  overflow: hidden;
  z-index: 0;
}

.indicator {
  //background-color: $color-contrast;
  background-color: rgba(100, 0, 0, 0.5);
  position: relative;
  height: 2px;
  z-index: 0;
}

.shadow-helper {
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
  position: relative;
  top: -2px;
  z-index: 10;
}

.cl-range {
  position: relative;
  top: -50px;
  z-index: -10;

  & > div {
    height: 16px;
  }

  .cl-element {
    &:first-of-type {
      background: #ff77ee;
    }
    &.top {
      background: linear-gradient(to bottom, #ff77ee, #77ddff);
    }
    &.bottom {
      background: linear-gradient(to top, #ececec, #77ddff);
    }
    &:last-of-type {
      background: #ececec;
    }
  }
}
