/* You can add global styles to this file, and also import other style files */
@import "robo-font";
@import "material-icons";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
  background: linear-gradient(-45deg, #ff6100, #0075ff);
  mask-image: linear-gradient(to top, transparent 0px, black 48px);
}

.mat-card {
  background-color: rgba(255, 255, 255, 75%);
}

.dark-mode {
  .mat-drawer-container {
    //background: linear-gradient(-45deg, #6c6c6c, #303030);
    background: linear-gradient(-45deg, rgba(86, 22, 83, 0.5), #000345);
    mask-image: linear-gradient(to top, transparent 0px, black 48px);
  }
}

.dark-mode .mat-card {
    background-color: rgba(66, 66, 66, 75%);
}
