<div class="main-container" fxLayout="row wrap" fxLayoutAlign="start start">

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Electrodes</h1>
        <mat-icon>speed</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-electrodes></app-electrodes>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Relays</h1>
        <mat-icon>toggle_off</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-relay-list></app-relay-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h2 fxFlex class="mat-card-title">Temperature Sensors</h2>
        <mat-icon>thermostat</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-object-list category="temperatures" listObjectIcon="thermostat"></app-object-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Canisters</h1>
        <mat-icon>format_color_fill</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-object-list category="canister"></app-object-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!--  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">-->
  <!--    <mat-card>-->
  <!--      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">-->
  <!--        <h1 class="mat-card-title" fxFlex>SysInfo</h1>-->
  <!--        <mat-icon>speed</mat-icon>-->
  <!--      </mat-card-header>-->
  <!--      <mat-card-content>-->
  <!--        <table mat-table>-->
  <!--          <tr *ngFor="let row of sysInfoTableData?.toArrayOfObjects()">-->
  <!--            <td>{{row.key}}</td>-->
  <!--            <td>{{row.value}}</td>-->
  <!--          </tr>-->
  <!--        </table>-->
  <!--      </mat-card-content>-->
  <!--    </mat-card>-->
  <!--  </div>-->

</div>
