@import '../../variables';

.home-container {
  margin: 8px;
}

mat-card {
  margin: 8px;

  mat-card-header {
    opacity: 50%;
  }
}

.relay-status-indicator {
  margin-right: 8px;
}

.auto {
  color: #ffffff;
}

.on {
  color: $color-green;
}

.off {
  color: $color-red;
}

.switched {
  color: $color-orange;
}
