<div class="main-container" fxLayout="row wrap" fxLayoutAlign="start start">

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Measures</h1>
        <mat-icon>speed</mat-icon>
      </mat-card-header>
      <mat-card-content>
<!--        <table mat-table>-->
<!--          <tr *ngFor="let row of sysInfoTableData?.toArrayOfObjects()">-->
<!--            <td>{{row.key}}</td>-->
<!--            <td>{{row.value}}</td>-->
<!--          </tr>-->
<!--        </table>-->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Relays</h1>
        <mat-icon>toggle_off</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" #relayItem class="mat-elevation-z1"
                         *ngFor="let relay of relayService.getRelays()"
                         [fxHide]="relay.isHidden()">
            <mat-icon [ngClass]="{on: relay.isOn(), off: relay.isOff()}"
                      [fxHide]="relay.isSwitched()"
                      class="relay-status-indicator"
                      matTooltip="{{relay.getStatusLabel()}}">
              {{relay.isAuto()?"hdr_auto":"circle"}}
            </mat-icon>
            <mat-progress-spinner [fxShow]="relay.isSwitched()" style="margin-right: 8px;"
                                  mode="indeterminate" diameter="24" color="accent">
            </mat-progress-spinner>
            <div fxFlex>
              <div mat-line><strong>{{relay.getLabel()}}</strong></div>
<!--              <div mat-line><small><em>({{relay.getStatusLabel()}})</em></small></div>-->
            </div>
            <app-switch [relay]="relay"></app-switch>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.33">
    <mat-card>
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between start">
        <h1 class="mat-card-title" fxFlex>Canister filling level</h1>
        <mat-icon>format_color_fill</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <app-canister [edit]="false"></app-canister>
      </mat-card-content>
    </mat-card>
  </div>

</div>
