.home-container {
  margin: 8px;

  mat-card {
    margin: 8px;
  }
}

.relay-status-indicator {
  margin-right: 8px;

}

.auto {
  color: #ffffff;
}

.on {
  color: #2E7D32;
}

.off {
  color: #C62828;
}

.switched {
  color: #ff8d00;
}
