form {
  margin: 16px;
}
//mat-form-field {
//  margin: 8px;
//}
mat-divider {
  margin: 24px 8px;
}

mat-icon.on {
  color: #2E7D32;
}

mat-icon.off {
  color: #C62828;
}


.category-icon {
  text-align: right;
  font-size: xxx-large;
  opacity: 50%;
}

.iconToggleContainer {
  font-size: large;
  margin-right: 8px;

  mat-slide-toggle, mat-icon {
    margin: 4px;
  }
}
