<form fxLayout="row wrap" fxLayoutAlign="start start">

  <mat-icon class="category-icon" fxFlex="100">settings_applications</mat-icon>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-lg="33"
       fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-form-field fxFlex="90">
      <mat-label>Controller URL</mat-label>
      <input matInput type="url" [formControl]="controllerUrl">
    </mat-form-field>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-lg="33"
       fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-form-field fxFlex="90" fxFlex.gt-sm="60">
      <mat-label>Username</mat-label>
      <input matInput type="text" [formControl]="username">
    </mat-form-field>
    <mat-form-field fxFlex="90" fxFlex.gt-sm="60">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
      <span class="iconToggleContainer" fxFlex="nogrow">
        <mat-icon inline [@iconToggle]="!useBasicAuth.value ? 'active' : 'inactive'">lock_open</mat-icon>
        <mat-slide-toggle fxFlex="90" fxFlex.gt-sm="40" fxFlexAlign.gt-sm="center" color="primary" [formControl]="useBasicAuth"></mat-slide-toggle>
        <mat-icon inline [@iconToggle]="useBasicAuth.value ? 'active' : 'inactive'">lock</mat-icon>
      </span>
      <mat-label fxFlex="50">Use Authentication</mat-label>
    </div>
  </div>

  <mat-divider fxFlex="100"></mat-divider>
  <mat-icon class="category-icon" fxFlex="100">tune</mat-icon>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-lg="33"
       fxLayout="row wrap" fxLayoutAlign="start start" fxFlexAlign="">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="20">
      <mat-form-field fxFlex="50" fxFlex.gt-sm="66">
        <mat-label>Polling Interval</mat-label>
        <input matInput type="number" min="0.5" max="3600" step="0.1" [formControl]="updateInterval">
        <span matSuffix>sec</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="20">
      <mat-form-field fxFlex="50" fxFlex.gt-sm="66">
        <mat-label>Request Timeout</mat-label>
        <input matInput type="number" min="0.1" max="60" step="0.1" [formControl]="requestTimeout">
        <span matSuffix>sec</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="20">
      <mat-form-field fxFlex="50" fxFlex.gt-sm="66">
        <mat-label>Request Error Tolerance</mat-label>
        <input matInput type="number" min="0" max="100" step="1" [formControl]="requestErrorTolerance">
      </mat-form-field>
    </div>
  </div>

  <mat-divider fxFlex="100"></mat-divider>
  <mat-icon class="category-icon" fxFlex="100">palette</mat-icon>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <span class="iconToggleContainer" fxFlex="nogrow">
      <mat-icon inline [@iconToggle]="!darkMode.value ? 'active' : 'inactive'">light_mode</mat-icon>
      <mat-slide-toggle [formControl]="darkMode" color="primary"></mat-slide-toggle>
      <mat-icon inline [@iconToggle]="darkMode.value ? 'active' : 'inactive'">dark_mode</mat-icon>
    </span>
    <mat-label fxFlex="50">Theme Mode</mat-label>
  </div>
</form>
